<?xml version='1.0' encoding='utf-8'?>
<plugin id="kr.seongjun.plugins" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>CordovaCustomPlugin</name><js-module name="CordovaCustomPlugin" src="www/CordovaCustomPlugin.js"><clobbers target="cordova.plugins.CordovaCustomPlugin" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="CordovaCustomPlugin"><param name="ios-package" value="CordovaCustomPlugin" /></feature></config-file><source-file src="src/ios/CordovaCustomPlugin.m" /></platform></plugin>